@page "/experience"

<h1>Experience</h1>

<section class="experience-section">
    <div class="experience-card">
        <a href="https://wheelhousemfg.com/" target="_blank" rel="noopener noreferrer">
            <img src="images/WH-logo-Vertical_Sky.png" alt="Logo" />
        </a>
        <p class="job-title">Junior Software Engineer <span class="date-range">(May 2024 - Present)</span></p>
        <ul>
            <li>
                Supporting the development of Manufacturing Operations Management (MoM) software using C#, SQL, and DINO
                scripting in a multi-tenant environment
            </li>
            <li>
                Collaborating on backend automation for multi-tenant inventory and onboarding workflows, including scheduling logic
                and global notification tools
            </li>
            <li>
                Created client-specific configuration and import workflows using DINO scripting, ensuring accurate data migrations
            </li>
            <li>
                Designed a global Replenishment Card Flagging system with advanced SQL querying, scheduled event handling,
                and inventory exception logic, integrating with existing notification systems to streamline replenishment card alerts
            </li>
            <li>
                Architected and implemented Dark Mode across web interfaces, developing 2,500+ lines of responsive CSS that
                adhered to WCAG accessibility guidelines, improving UI consistency and user experience
            </li>
            <li>
                Produced over 40 comprehensive technical documents and video tutorials, reducing onboarding complexity and supporting user adoption.
            </li>
            <li>
                Collaborated directly with the CEO (Software Engineer/Industrial Engineer) daily for client onboarding, code review,
                and software improvements.
            </li>
        </ul>
    </div>

    <div class="experience-card">
        <h3>Remotasks</h3>
        <p class="job-title">AI Trainer / Freelance Developer <span class="date-range">(Dec 2023 - May 2024)</span></p>
        <ul>
            <li>
                Trained large language models (LLMs) in coding best practices by evaluating AI-generated code, rewriting outputs for
                accuracy, and reviewing peer developer submissions with constructive feedback.
            </li>
        </ul>
    </div>

    <div class="experience-card">
        <h3>Co.Lab</h3>
        <p class="job-title">Software Developer <span class="date-range">(Sep 2023 - Dec 2023)</span></p>
        <ul>
            <li>
                Sole backend developer in an intensive 8-week AGILE program, building a market-ready product in collaboration with
                a cross-functional team to solve real-world user problems.
            </li>
        </ul>
    </div>
</section>

<section class="tech-stack">
    <h2>Tech Stack</h2>
    <h4>Languages & Frameworks</h4>
    <div class="tech-stack-icons">
        <div class="tech-item"><TechIcon Name="CSharp" /><span class="tech-label">C#</span></div>
        <div class="tech-item"><TechIcon Name="Python" /><span class="tech-label">Python</span></div>
        <div class="tech-item"><TechIcon Name="JavaScript" /><span class="tech-label">JavaScript</span></div>
        <div class="tech-item"><TechIcon Name="TypeScript" /><span class="tech-label">TypeScript</span></div>
        <div class="tech-item"><TechIcon Name="HTML5" /><span class="tech-label">HTML5</span></div>
        <div class="tech-item"><TechIcon Name="CSS3" /><span class="tech-label">CSS3</span></div>
        <div class="tech-item"><TechIcon Name="NET" /><span class="tech-label">.NET Framework</span></div>
        <div class="tech-item"><TechIcon Name="Flask" /><span class="tech-label"></span></div>
        <div class="tech-item"><TechIcon Name="React" /><span class="tech-label">React</span></div>
        <div class="tech-item"><TechIcon Name="Tailwind CSS" /><span class="tech-label">TailwindCSS</span></div>
        <div class="tech-item"><TechIcon Name="Node.js" /><span class="tech-label">Node.js</span></div>
    </div>

    <h4>Databases</h4>
    <div class="tech-stack-icons">
        <div class="tech-item"><TechIcon Name="PostgresSQL" /><span class="tech-label">PostgreSQL</span></div>
        <div class="tech-item"><TechIcon Name="Redis" /><span class="tech-label">Redis</span></div>
        <div class="tech-item"><TechIcon Name="DBeaver" /><span class="tech-label">DBeaver</span></div>
    </div>

    <h4>Tools & DevOps</h4>
    <div class="tech-stack-icons">
        <div class="tech-item"><TechIcon Name="Git" /><span class="tech-label">Git</span></div>
        <div class="tech-item"><TechIcon Name="Firebase" /><span class="tech-label">Firebase</span></div>
        <div class="tech-item"><TechIcon Name="Visual Studio" /><span class="tech-label">Visual Studio</span></div>
        <div class="tech-item"><TechIcon Name="VS Code" /><span class="tech-label">VS Code</span></div>
        <div class="tech-item"><TechIcon Name="Vite.js" /><span class="tech-label">Vite.js</span></div>
        <div class="tech-item"><TechIcon Name="JSON" /><span class="tech-label">JSON</span></div>
    </div>
</section>
