h1, h2, h3, h4 {
    font-family: 'neuemontreal-medium';
    color: white;
}

.project-title {
    font-size: 2rem;
    font-family: 'neuemontreal-bold';
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 0.5rem;
    color: white;
}

.project-card .project-name {
    color: #87cfff;
    font-family: 'neuemontreal-medium';
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.project-section .project-section-title {
    color: #ebebeb;
    /*    font-size: 1.5rem;*/
    margin-bottom: 0.5rem;
    border-left: 4px solid #87cfff;
    padding-left: 0.75rem;
}


.project-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.project-card {
    background: rgba(255, 255, 255, 0.03);
    padding: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, border 0.2s ease;
}

.project-card:hover {
    transform: scale(1.02);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.project-card h3,
.project-card h4 {
    margin-top: 0;
    font-family: 'neuemontreal-medium';
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: #fff;
}

.project-card p {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #ccc;
    margin-bottom: 1rem;
    font-family: 'neuemontreal-regular';
}

.project-card a {
    color: #7ecbff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
}

.project-card a:hover {
    color: #b5e2ff;
    text-decoration: underline;
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin: 1rem 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.project-card img.flag-missing-cards {
    max-width: 40%;
    height: auto;
    border-radius: 0.5rem;
    margin: 1rem 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.video-embed {
    width: 100%;
    max-width: 960px; /* You can adjust this */
    aspect-ratio: 16 / 9;
    margin: 2rem auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.video-embed iframe {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
}

.helpdoc-logo {
    width: 36px;
    height: 36px;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    vertical-align: middle;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}

.project-section {
    max-width: 1300px;
    margin: 4rem auto 2rem auto;
    padding: 0 1rem;
    color: #ccc;
}
