<nav>
    <button class="hamburger" @onclick="ToggleMenu" aria-label="Open menu">
        &#9776;
    </button>
    <ul class="nav-list @( _menuOpen ? "open" : "")">
        <li class="nav-item">
            <NavLink href="/" class="nav-link" activeClass="selected" Match="NavLinkMatch.All" @onclick="CloseMenu">Home</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/experience" class="nav-link" activeClass="selected" @onclick="CloseMenu">Experience</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/projects" class="nav-link" activeClass="selected" @onclick="CloseMenu">Projects</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/contact" class="nav-link" activeClass="selected" @onclick="CloseMenu">Contact</NavLink>
        </li>
        <li>
            <button class="resume-button" data-bs-toggle="modal" data-bs-target="#resumeModal" @onclick:stopPropagation="true">
                Résumé
            </button>
        </li>
    </ul>

    <!-- Resume Modal -->
    <div class="modal fade" id="resumeModal" tabindex="-1" aria-labelledby="resumeLabel">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="resumeLabel">Résumé – Austin Beveridge</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body p-0" style="height:80vh;">
                    <iframe src="@Resume#pagemode=none&navpanes=0"
                            style="width:100%;height:100%;border:none;">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</nav>

@code {
    private bool _menuOpen = false;
    private void ToggleMenu() => _menuOpen = !_menuOpen;
    private void CloseMenu() => _menuOpen = false;
    private string Resume => "/images/resume/AbeveridgeResume.pdf";
}