<nav>
    <ul>
        <li class="nav-item"><NavLink href="/" class="nav-link" activeClass="selected">Home</NavLink></li>
        <li class="nav-item"><NavLink href="/experience" class="nav-link" activeClass="selected">Experience</NavLink></li>
        <li class="nav-item"><NavLink href="/projects" class="nav-link" activeClass="selected">Projects</NavLink></li>
        <li class="nav-item"><NavLink href="/contact" class="nav-link" activeClass="selected">Contact</NavLink></li>
    </ul>
</nav>